{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div class="row justify-content-center">
		<div class="col-7">
			{% for message in app.flashes('notice') %}
				<div class="alert alert-dismissible alert-primary">
					<strong>{{ message }}</strong>
				</div>
			{% endfor %}
			<h1 class="mb-5">Create user account</h1>
			{{ form_start(form) }}
			{{ form_row(form.email) }}
			{{ form_row(form.username) }}
			{{ form_row(form.plainPassword) }}
			<button class="btn btn-primary mt-3">Create</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
