{% extends 'base.html.twig' %}

{% block title %}
	Edit
	{{ app.user.username }}'s profile
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-7">
			<h1 class="mb-5">Edit profile info</h1>
			{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.username) }}
			{{ form_row(registrationForm.plainPassword) }}
			<button class="btn btn-primary mt-3">Save</button>
			<a href="{{ path('profile_index') }}" class="btn btn-danger ml-3 mt-3" style="color:white;">Cancel</a>

			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
