<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}HAQuiz
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
				{% set route = app.request.get('_route') %}
				<div class="w-100">
					<a class="navbar-brand" href="{{ path('home_index') }}">HAQuiz</a>
				</div>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse w-100 justify-content-center" id="navbarColor03">
					<ul class="navbar-nav">
						<li class="nav-item {{ 'categorie' in route ? 'active' }}">
							<a class="nav-link" href="{{ path('categorie') }}">Quiz</a>
						</li>
						<li class="nav-item {{ 'history' in route ? 'active' }}">
							<a class="nav-link" href="#">History</a>
						</li>
						{% if app.user %}
							<li class="nav-item {{ 'profile' in route ? 'active' }}">
								<a class="nav-link" href="{{ path('profile_index') }}">My profile</a>
							</li>
						{% endif %}
					</ul>
				</div>
				<div class="w-100">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<a href="{{ path('app_logout') }}" class="btn btn-secondary my-2 my-sm-0 mr-3" style="float:right;color:white;">Logout</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('admin_index') }}" class="btn btn-primary mr-3" style="float:right;">Admin</a>
						{% endif %}
					{% else %}
						<a href="{{ path('app_register') }}" class="btn register-btn my-2 my-sm-0 mr-3" style="float:right;color:white;">Register</a>
						<a href="{{ path('app_login') }}" class="btn btn-info my-2 my-sm-0 mr-3" style="float:right;color:white;">Login</a>
					{% endif %}
				</div>
			</nav>
			<div class="container"> {% block body %}{% endblock %}
				</div>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
